body
{
    font-family:'Poppins', 'Times New Roman', Times, serif;
    background-color:rgb(231, 217, 198);
    font-size: x-large;
}
nav
{
    display: flex;
}
ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 150px;
    
}
li
{
    margin-left: 30px;
}
h2
{
    margin-right: 100px;
    margin-left: 15px;
}
h1
{
    text-align: center;
    color: royalblue;
}
.image
{
    border-radius:55%;
    width: 500px;
    height: 360px;
     margin-left: 100px;
    box-shadow: 10px 4px 10px rgba(0,0,0,0.3);
    
   /* transition: 0.3s; */
}
.image:hover
{
    transform: scale(1.1);
}
.contenu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.presentation
{
    width: 1200px;
   
}
article
{
    margin-bottom: 20px;
    margin-top: 50px;
    width: 40%;
    margin: 50px auto;
}
p
{
    width: 100%;
}
table
{

}
.footer
{
    display: flex;
    background-color:antiquewhite;
    height: 130px;
    width: 100%;
    padding: 0px;
    margin-top: 140px;
    position: fixed;
    bottom: 0%;
   
}
a
{
    text-decoration: none;
}
.git
{
    width: 85%;
}